# Enable Bzlmod for every Bazel command
common --enable_bzlmod

try-import %workspace%/user.bazelrc

## ------ Platform Configurations ------
# Texas instruments C2000 Toolchain Configuration
build:c2000 --platforms=platforms/c2000/toolchain:c2000
# Microchip/Atmel AVR 8-Bit Toolchain Configuration
build:atmega32u4 --platforms=platforms/avr8/toolchain:avr8
build:atmega32u4 --//platforms/avr8/toolchain:mcu=atmega32u4
build:atmega32u4 --//platforms/avr8/toolchain:p_arch=avr5
build:atmega32u4 --//platforms/avr8/toolchain:f_cpu=16000000UL

## ------ Unit Test Configurations ------
# GCC configuration for Windows (MinGW)
build:gcc --platforms=platforms/gcc/toolchain:gcc_windows
