---
Language:                                                           C
AlignAfterOpenBracket:                                              true
AlignArrayOfStructures:                                             Right
AlignConsecutiveAssignments:
  Enabled:                                                          true
  AcrossEmptyLines:                                                 true
  AcrossComments:                                                   true
  AlignCompound:                                                    true
  AlignFunctionDeclarations:                                        true
  AlignFunctionPointers:                                            true
  PadOperators:                                                     true
AlignConsecutiveBitFields:
  Enabled:                                                          true
  AcrossEmptyLines:                                                 true
  AcrossComments:                                                   true
  AlignCompound:                                                    true
  AlignFunctionDeclarations:                                        true
  AlignFunctionPointers:                                            true
  PadOperators:                                                     true
AlignConsecutiveDeclarations:
  Enabled:                                                          true
  AcrossEmptyLines:                                                 true
  AcrossComments:                                                   true
  AlignCompound:                                                    true
  AlignFunctionDeclarations:                                        false
  AlignFunctionPointers:                                            true
  PadOperators:                                                     true
AlignConsecutiveMacros:
  Enabled:                                                          true
  AcrossEmptyLines:                                                 true
  AcrossComments:                                                   true
  AlignCompound:                                                    true
  AlignFunctionDeclarations:                                        true
  AlignFunctionPointers:                                            true
  PadOperators:                                                     true
AlignConsecutiveShortCaseStatements:
  Enabled:                                                          true
  AcrossEmptyLines:                                                 true
  AcrossComments:                                                   true
  AlignCaseArrows:                                                  true
  AlignCaseColons:                                                  true
AlignConsecutiveTableGenBreakingDAGArgColons:
  Enabled:                                                          true
  AcrossEmptyLines:                                                 true
  AcrossComments:                                                   true
  AlignCompound:                                                    true
  AlignFunctionDeclarations:                                        true
  AlignFunctionPointers:                                            true
  PadOperators:                                                     true
AlignConsecutiveTableGenCondOperatorColons:
  Enabled:                                                          true
  AcrossEmptyLines:                                                 true
  AcrossComments:                                                   true
  AlignCompound:                                                    true
  AlignFunctionDeclarations:                                        true
  AlignFunctionPointers:                                            true
  PadOperators:                                                     true
AlignConsecutiveTableGenDefinitionColons:
  Enabled:                                                          true
  AcrossEmptyLines:                                                 true
  AcrossComments:                                                   true
  AlignCompound:                                                    true
  AlignFunctionDeclarations:                                        true
  AlignFunctionPointers:                                            true
  PadOperators:                                                     true
AlignEscapedNewlines:                                               Left
AlignOperands:                                                      Align
AlignTrailingComments:
  Kind:                                                             Always
  OverEmptyLines:                                                   2
AllowAllArgumentsOnNextLine:                                        false
AllowAllParametersOfDeclarationOnNextLine:                          true
AllowBreakBeforeNoexceptSpecifier:                                  Never
AllowShortBlocksOnASingleLine:                                      Never
AllowShortCaseExpressionOnASingleLine:                              true
AllowShortCaseLabelsOnASingleLine:                                  false
AllowShortCompoundRequirementOnASingleLine:                         false
AllowShortEnumsOnASingleLine:                                       false
AllowShortFunctionsOnASingleLine:                                   None
AllowShortIfStatementsOnASingleLine:                                Never
AllowShortLambdasOnASingleLine:                                     Inline
AllowShortLoopsOnASingleLine:                                       true
AlwaysBreakAfterDefinitionReturnType:                               None
AlwaysBreakBeforeMultilineStrings:                                  true
AttributeMacros:
  - __capability
  - absl_nonnull
  - absl_nullable
  - absl_nullability_unknown
BinPackArguments:                                                   false
BinPackLongBracedList:                                              true
BinPackParameters:                                                  OnePerLine
BitFieldColonSpacing:                                               Both
BracedInitializerIndentWidth:                                       -1
BraceWrapping:
  AfterCaseLabel:                                                   false
  AfterClass:                                                       false
  AfterControlStatement:                                            Never
  AfterEnum:                                                        false
  AfterExternBlock:                                                 false
  AfterFunction:                                                    false
  AfterNamespace:                                                   false
  AfterObjCDeclaration:                                             false
  AfterStruct:                                                      false
  AfterUnion:                                                       false
  BeforeCatch:                                                      false
  BeforeElse:                                                       false
  BeforeLambdaBody:                                                 false
  BeforeWhile:                                                      false
  IndentBraces:                                                     false
  SplitEmptyFunction:                                               true
  SplitEmptyRecord:                                                 true
  SplitEmptyNamespace:                                              true
BreakAdjacentStringLiterals:                                        true
BreakAfterAttributes:                                               Never
BreakAfterJavaFieldAnnotations:                                     false
BreakAfterReturnType:                                               None
BreakArrays:                                                        true
BreakBeforeBinaryOperators:                                         None
BreakBeforeConceptDeclarations:                                     Always
BreakBeforeBraces:                                                  Allman
BreakBeforeInlineASMColon:                                          OnlyMultiline
BreakBeforeTemplateCloser:                                          false
BreakBeforeTernaryOperators:                                        false
BreakBinaryOperations:                                              OnePerLine
BreakConstructorInitializers:                                       AfterColon
BreakFunctionDefinitionParameters:                                  false
BreakInheritanceList:                                               AfterColon
BreakStringLiterals:                                                false
BreakTemplateDeclarations:                                          Yes
ColumnLimit:                                                        100
CommentPragmas:                                                     '^ IWYU pragma:'
CompactNamespaces:                                                  true
ConstructorInitializerIndentWidth:                                  4
ContinuationIndentWidth:                                            4
Cpp11BracedListStyle:                                               true
DerivePointerAlignment:                                             false
DisableFormat:                                                      false
EmptyLineAfterAccessModifier:                                       Never
EmptyLineBeforeAccessModifier:                                      Always
EnumTrailingComma:                                                  Insert
ExperimentalAutoDetectBinPacking:                                   false
FixNamespaceComments:                                               true
ForEachMacros:
  - foreach
  - Q_FOREACH
  - BOOST_FOREACH
IfMacros:
  - KJ_IF_MAYBE
IncludeBlocks:                                                      Preserve
IncludeCategories:
  - Regex:                                                          '^<ext/.*\.h>'
    Priority:                                                       2
    SortPriority:                                                   0
    CaseSensitive:                                                  false
  - Regex:                                                          '^<.*\.h>'
    Priority:                                                       1
    SortPriority:                                                   0
    CaseSensitive:                                                  false
  - Regex:                                                          '^<.*'
    Priority:                                                       2
    SortPriority:                                                   0
    CaseSensitive:                                                  false
  - Regex:                                                          '.*'
    Priority:                                                       3
    SortPriority:                                                   0
    CaseSensitive:                                                  false
IncludeIsMainRegex:                                                 '([-_](test|unittest))?$'
IncludeIsMainSourceRegex:                                           ''
IndentAccessModifiers:                                              true
IndentCaseBlocks:                                                   false
IndentCaseLabels:                                                   true
IndentExportBlock:                                                  true
IndentGotoLabels:                                                   true
IndentPPDirectives:                                                 None
IndentRequiresClause:                                               true
IndentWidth:                                                        4
IndentWrappedFunctionNames:                                         true
InsertBraces:                                                       true
InsertNewlineAtEOF:                                                 true
InsertTrailingCommas:                                               Wrapped
IntegerLiteralSeparator:
  Binary:                                                           4
  BinaryMinDigits:                                                  5
  Decimal:                                                          4
  DecimalMinDigits:                                                 -1
  Hex:                                                              2
  HexMinDigits:                                                     3
JavaScriptQuotes:                                                   Leave
JavaScriptWrapImports:                                              true
KeepEmptyLines:
  AtEndOfFile:                                                      false
  AtStartOfBlock:                                                   false
  AtStartOfFile:                                                    false
KeepFormFeed:                                                       false
LambdaBodyIndentation:                                              Signature
LineEnding:                                                         DeriveLF
MacroBlockBegin:                                                    ''
MacroBlockEnd:                                                      ''
MainIncludeChar:                                                    Quote

MaxEmptyLinesToKeep:                                                3
NamespaceIndentation:                                               All
ObjCBinPackProtocolList:                                            Never
ObjCBlockIndentWidth:                                               4
ObjCBreakBeforeNestedBlockParam:                                    true
ObjCSpaceAfterProperty:                                             false
ObjCSpaceBeforeProtocolList:                                        true
OneLineFormatOffRegex:                                              ''
PackConstructorInitializers:                                        Never
PenaltyBreakAssignment:                                             2
PenaltyBreakBeforeFirstCallParameter:                               1
PenaltyBreakBeforeMemberAccess:                                     150
PenaltyBreakComment:                                                300
PenaltyBreakFirstLessLess:                                          120
PenaltyBreakOpenParenthesis:                                        0
PenaltyBreakScopeResolution:                                        500
PenaltyBreakString:                                                 1000
PenaltyBreakTemplateDeclaration:                                    10
PenaltyExcessCharacter:                                             1000000
PenaltyIndentedWhitespace:                                          0
PenaltyReturnTypeOnItsOwnLine:                                      200
PointerAlignment:                                                   Left
PPIndentWidth:                                                      -1
QualifierAlignment:                                                 Left
RawStringFormats:
  - Language:                                                       Cpp
    Delimiters:
      - cc
      - CC
      - cpp
      - Cpp
      - CPP
      - 'c++'
      - 'C++'
    CanonicalDelimiter:                                             ''
    BasedOnStyle:                                                   google
  - Language:                                                       TextProto
    Delimiters:
      - pb
      - PB
      - proto
      - PROTO
    EnclosingFunctions:
      - EqualsProto
      - EquivToProto
      - PARSE_PARTIAL_TEXT_PROTO
      - PARSE_TEST_PROTO
      - PARSE_TEXT_PROTO
      - ParseTextOrDie
      - ParseTextProtoOrDie
      - ParseTestProto
      - ParsePartialTestProto
    CanonicalDelimiter:                                             pb
    BasedOnStyle:                                                   google
ReferenceAlignment:                                                 Pointer
ReflowComments:                                                     Always
RemoveBracesLLVM:                                                   false
RemoveEmptyLinesInUnwrappedLines:                                   true
RemoveParentheses:                                                  MultipleParentheses
RemoveSemicolon:                                                    false
RequiresClausePosition:                                             OwnLineWithBrace
RequiresExpressionIndentation:                                      OuterScope
SeparateDefinitionBlocks:                                           Always
ShortNamespaceLines:                                                1
SkipMacroDefinitionBody:                                            false
SortIncludes:
  Enabled:                                                          false
  IgnoreCase:                                                       false
SortJavaStaticImport:                                               Before
SortUsingDeclarations:                                              LexicographicNumeric
SpaceAfterCStyleCast:                                               false
SpaceAfterLogicalNot:                                               false
SpaceAfterOperatorKeyword:                                          false
SpaceAfterTemplateKeyword:                                          true
SpaceAroundPointerQualifiers:                                       Default
SpaceBeforeAssignmentOperators:                                     true
SpaceBeforeCaseColon:                                               false
SpaceBeforeCpp11BracedList:                                         true
SpaceBeforeCtorInitializerColon:                                    true
SpaceBeforeInheritanceColon:                                        true
SpaceBeforeJsonColon:                                               false
SpaceBeforeParens:                                                  ControlStatements
SpaceBeforeParensOptions:
  AfterControlStatements:                                           true
  AfterForeachMacros:                                               true
  AfterFunctionDefinitionName:                                      false
  AfterFunctionDeclarationName:                                     false
  AfterIfMacros:                                                    true
  AfterNot:                                                         false
  AfterOverloadedOperator:                                          false
  AfterPlacementOperator:                                           true
  AfterRequiresInClause:                                            false
  AfterRequiresInExpression:                                        false
  BeforeNonEmptyParentheses:                                        false
SpaceBeforeRangeBasedForLoopColon:                                  true
SpaceBeforeSquareBrackets:                                          false
SpaceInEmptyBlock:                                                  false
SpacesBeforeTrailingComments:                                       4
SpacesInAngles:                                                     Never
SpacesInContainerLiterals:                                          false
SpacesInLineCommentPrefix:
  Minimum:                                                          1
  Maximum:                                                          -1
SpacesInParens:                                                     Never
SpacesInParensOptions:
  ExceptDoubleParentheses:                                          true
  InCStyleCasts:                                                    false
  InConditionalStatements:                                          false
  InEmptyParentheses:                                               false
  Other:                                                            false
SpacesInSquareBrackets:                                             false
Standard:                                                           Auto
StatementAttributeLikeMacros:
  - Q_EMIT
StatementMacros:
  - Q_UNUSED
  - QT_REQUIRE_VERSION
TableGenBreakInsideDAGArg:                                          DontBreak
TabWidth:                                                           4
UseTab:                                                             Never
VerilogBreakBetweenInstancePorts:                                   true
WhitespaceSensitiveMacros:
  - BOOST_PP_STRINGIZE
  - CF_SWIFT_NAME
  - NS_SWIFT_NAME
  - PP_STRINGIZE
  - STRINGIZE
WrapNamespaceBodyWithEmptyLines:                                    Leave
...
